.menuNav {
  position: absolute;

  display: flex;
  overflow: hidden;
  border-radius: 12px 0px 0px 12px;
}
@media only screen and (min-width: 768px) {
  .menuNav {
    position: absolute;
    top: 12px;
    left: 452px;
  }
}

@media only screen and (min-width: 1440px) {
  .menuNav {
    top: 24px;
    left: 842px;
  }
}
